*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    background-image: url("../IMG/Sfondo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.TXgrey{
    color: grey;
}
.TXnero{
    color:black;
}

