<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <link href="../static/CSS/bootstrap-5.1.3-dist/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link rel="icon" href="../static/IMG/logo.png">
    <link rel="stylesheet" type="text/css" href="../static/CSS/Style.css"/>
    <link rel="stylesheet" type="text/css" href="../static/CSS/Login.css"/>
    <title>Login</title>
</head>
<body>
<form id="login" method="post">
<div class="d-flex flex-column justify-content-center align-items-center">
    <div class="form d-flex flex-md-row flex-column justify-content-center align-items-center">
        <div class="scheda d-flex flex-column justify-content-center align-items-center">

                <div class="account "><img src="../static/IMG/account.png"></div>

                <div class="d-flex flex-column justify-content-center">
                        <div class="boxIn">
                            <div class="d-flex flex-row">
                                <div class="img-form d-flex justify-content-center align-items-center"><img src="../static/IMG/icone/user.png" width="20px"> </div>
                                <input type="text" class="input-form richiesto" id="User" placeholder="User Name">
                            </div>
                        <div class="messErr">                            </div>
                        </div>
                        <div class="boxIn">
                            <div class="d-flex flex-row">
                                <div class="img-form d-flex justify-content-center align-items-center"><img src="../static/IMG/icone/chiave.png" width="20px"> </div>
                                <input type="password" class="input-form richiesto" id="Password" placeholder="Password">
                            </div>
                            <div class="messErr">                            </div>
                        </div>
                        <div class="d-flex flex-column">
                            <div class="m-2">
                            <input class="form-check-input" type="checkbox" id="autoCheck1">
                            <label class="" for="autoCheck1">Remember me</label>
                            </div>
                        </div>
                </div>
                <div class="">
                    <button type="submit" class="btn-form" >Login</button>
                </div>

        </div>
    </div>
</div>
</form>
<script src="../static/JS/Cookie.js"></script>
<script src="../static/JS/Login.js"></script>
</body>
</html>
